nav.navbar.navbar-expand-lg.navbar-light.bg-faded
    button.navbar-toggler(type="button",data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    a.navbar-brand(href="#") Computer Blog
    .collapse.navbar-collapse(id="navbarNav")
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/blog') Home 
          span.sr-only (current)
      li.nav-item.active
        a.nav-link(href="../blog/blog") Blog
      li.nav-item.active
        a.nav-link(href="/profile") My profile
      li.nav-item.active
        a.nav-link(href="../user/login") Login 
      li.nav-item.active
        a.nav-link(href="/about") About