extends layout

block content
  .row.justify-content-center
    h1.col-6.align-self-center Microblog
  .row.justify-content-center
    .card.col(style='width: 18rem;')
      .card-body 
        h5.card-title Login
         form(action='/login', method="POST")
          .form-group
            label(for='Email') Email address
            input(type='email', id='email', name='email' required).form-control
          .form-group
            label(for='password') Password
            input(type='password', id='password', name='password' required).form-control
          button(type='submit').btn.btn-primary Login
    hr
  .row
  