extends ../layout

block content
  .row.justify-content-center
    h1.col-6 Microblog
  .row.justify-content-center
    .card.col(style='width: 18rem;')
      .card-body 
        h5.card-title.text-center Login
        hr
        form(action='/login', method="POST").card-text
          .form-group
            label(for='Email') Email address
            input(type='email', id='email', name='email').form-control
          .form-group
            label(for='password') Password
            input(type='password', id='password', name='password').form-control
          hr
          br
          button(type='submit').btn.btn-primary Login
    hr
  .row
  